# Core functionality - changes here should be rare!
/src/app.py                   @Tejashwinim10
/src/backend/database.py      @Tejashwinim10
/src/backend/routers/auth.py  @Tejashwinim10

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Tejashwinim10
